In [0]:
DROP TABLE IF EXISTS zzz_game_opponents;
DROP TABLE IF EXISTS zzz_game_scores;
DROP TABLE IF EXISTS zzz_games;
DROP TABLE IF EXISTS zzz_teams;

CREATE TABLE IF NOT EXISTS `development_catalog`.`dbt-schema`.zzz_game_opponents (
game_id INT,
home_team_id INT,
visitor_team_id INT
) USING DELTA;

INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_opponents VALUES (1, 1, 2);
INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_opponents VALUES (2, 1, 3);
INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_opponents VALUES (3, 2, 1);
INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_opponents VALUES (4, 2, 3);
INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_opponents VALUES (5, 3, 1);
INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_opponents VALUES (6, 3, 2);

-- Result:
-- +---------+--------------+-----------------+
-- | game_id | home_team_id | visitor_team_id |
-- +=========+==============+=================+
-- | 1       | 1            | 2               |
-- +---------+--------------+-----------------+
-- | 2       | 1            | 3               |
-- +---------+--------------+-----------------+
-- | 3       | 2            | 1               |
-- +---------+--------------+-----------------+
-- | 4       | 2            | 3               |
-- +---------+--------------+-----------------+
-- | 5       | 3            | 1               |
-- +---------+--------------+-----------------+
-- | 6       | 3            | 2               |
-- +---------+--------------+-----------------+

CREATE TABLE IF NOT EXISTS `development_catalog`.`dbt-schema`.zzz_game_scores (
game_id INT,
home_team_score INT,
visitor_team_score INT
) USING DELTA;

INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_scores VALUES (1, 4, 2);
INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_scores VALUES (2, 0, 1);
INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_scores VALUES (3, 1, 2);
INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_scores VALUES (4, 3, 2);
INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_scores VALUES (5, 3, 0);
INSERT INTO `development_catalog`.`dbt-schema`.zzz_game_scores VALUES (6, 3, 1);

-- Result:
-- +---------+-----------------+--------------------+
-- | game_id | home_team_score | visitor_team_score |
-- +=========+=================+====================+
-- | 1       | 4               | 2                  |
-- +---------+-----------------+--------------------+
-- | 2       | 0               | 1                  |
-- +---------+-----------------+--------------------+
-- | 3       | 1               | 2                  |
-- +---------+-----------------+--------------------+
-- | 4       | 3               | 2                  |
-- +---------+-----------------+--------------------+
-- | 5       | 3               | 0                  |
-- +---------+-----------------+--------------------+
-- | 6       | 3               | 1                  |
-- +---------+-----------------+--------------------+

CREATE TABLE IF NOT EXISTS `development_catalog`.`dbt-schema`.zzz_games (
game_id INT,
game_date DATE
) USING DELTA;

INSERT INTO `development_catalog`.`dbt-schema`.zzz_games VALUES (1, '2020-12-12');
INSERT INTO `development_catalog`.`dbt-schema`.zzz_games VALUES (2, '2021-01-09');
INSERT INTO `development_catalog`.`dbt-schema`.zzz_games VALUES (3, '2020-12-19');
INSERT INTO `development_catalog`.`dbt-schema`.zzz_games VALUES (4, '2021-01-16');
INSERT INTO `development_catalog`.`dbt-schema`.zzz_games VALUES (5, '2021-01-23');
INSERT INTO `development_catalog`.`dbt-schema`.zzz_games VALUES (6, '2021-02-06');

-- Result:
-- +---------+------------+
-- | game_id | game_date  |
-- +=========+============+
-- | 1       | 2020-12-12 |
-- +---------+------------+
-- | 2       | 2021-01-09 |
-- +---------+------------+
-- | 3       | 2020-12-19 |
-- +---------+------------+
-- | 4       | 2021-01-16 |
-- +---------+------------+
-- | 5       | 2021-01-23 |
-- +---------+------------+
-- | 6       | 2021-02-06 |
-- +---------+------------+

CREATE TABLE IF NOT EXISTS `development_catalog`.`dbt-schema`.zzz_teams (
team_id INT,
team_city VARCHAR(15)
) USING DELTA;

INSERT INTO `development_catalog`.`dbt-schema`.zzz_teams VALUES (1, "San Francisco");
INSERT INTO `development_catalog`.`dbt-schema`.zzz_teams VALUES (2, "Seattle");
INSERT INTO `development_catalog`.`dbt-schema`.zzz_teams VALUES (3, "Amsterdam");

-- Result:
-- +---------+---------------+
-- | team_id | team_city     |
-- +=========+===============+
-- | 1       | San Francisco |
-- +---------+---------------+
-- | 2       | Seattle       |
-- +---------+---------------+
-- | 3       | Amsterdam     |
-- +---------+---------------+